:host::ng-deep {
  .ps {
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
  }
}

.btn--cat {
  display: flex;
  align-items: center;

  svg {
    transform: rotate(180deg);
    fill: #fff;
    width: 26px;
    height: 26px;
  }
}

.sport-name {
  text-transform: uppercase;
  font-family: 'Montserrat-SemiBold', sans-serif, helvetica, arial;
  font-size: 20px;
}
