<header>
  <nav class="header">
    <img class="header__logo" src="assets/images/logo.png" alt="Logo">
    <div class="header__actions">
      <button class="btn">Увійти</button>
      <button class="btn">Реєстрація</button>
    </div>
  </nav>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <p>
    Електронна пошта для пропозицій та побажань щодо сайту:
    <br/>
    sport-site-support@gmail.com
  </p>
  <span class="footer__copyright">© Всі права захищені</span>
</footer>
