.header {
  width: 100%;
  background-color: #393855;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;

  &__logo {
    height: 40px;
  }
}

.main {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  background-color: #393855;
  color: #fff;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif, helvetica, arial;

  &__copyright {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
