:host::ng-deep {
  .ps {
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
  }

  .map-container {
    border-radius: 5px;
  }
}

.location-icon {
  color: #e60012;
}

.sports-list {
  mat-icon {
    font-size: 18px;
  }

  .phone-number,
  .location {
    vertical-align: top;
  }

  &__item {
    padding: 0 0 20px;

    &--header {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      font-family: 'Montserrat-SemiBold', sans-serif, helvetica, arial;

      span {
        font-size: 20px;
        text-transform: uppercase;
        margin-right: 30px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--wrapper {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btn--cat {
  height: 30px;
  font-family: 'Montserrat-SemiBold', sans-serif, helvetica, arial;
}
