<div class="sport-types-list">
  <h1 class="sport-types-list__title">{{ pageTitle }}</h1>
  <div class="sport-types-list__search">
    <div class="search-input__wrapper">
      <input id="search" type="text" class="search-input" placeholder="Що вас цікавить?"/>
      <button class="btn btn--search">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M21.39 20.32l-4.72-4.72a8.28 8.28 0 10-1 1l4.72 4.72zM3.7 10.42a6.72 6.72 0 116.72 6.72 6.72 6.72 0 01-6.72-6.72z"/>
          <path d="M15.64 10.42h-1.4a3.83 3.83 0 00-3.82-3.82V5.2a5.22 5.22 0 015.22 5.22z"/>
        </svg>
      </button>
    </div>
  </div>
  <ul class="sports-list">
    <perfect-scrollbar class="scroll">
      <li class="sports-list__item" *ngFor="let sport of availableSports">
        <span class="sport-name">{{ sport.name }}</span>
        <div class="sports-list__divider"></div>
        <button class="btn btn--cat" [routerLink]="'/sections'" [queryParams]="{ sportType: sport.name }">
          Переглянути доступні секції
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M17 11.219H9.015l2.673-2.673-.977-.977-4.34 4.34 4.388 4.388.977-.977-2.721-2.721H17z"/>
          </svg>
        </button>
      </li>
    </perfect-scrollbar>
  </ul>
</div>
