.btn {
  font-family: 'Montserrat', sans-serif, helvetica, arial;
  height: 40px;
  min-width: 100px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;

  &--cat {
    padding: 0 12px;
    border-color: #1087ff;
    background-color: #1087ff;
    color: #fff;
    font-family: 'Montserrat-SemiBold', sans-serif, helvetica, arial;

    &:hover {
      border-color: #43a1ff;
      background-color: #43a1ff;
      box-shadow: 0.14rem 0.2rem 0.57rem #72b9ff;
      color: #fff;
    }

    &:focus {
      border-color: #0070e1;
      background-color: #0070e1;
      box-shadow: none;
      color: #fff;
    }
  }

  &--search {
    background-color: #6500CD;
    position: absolute;
    width: 32px;
    height: 32px;
    min-width: unset;
    padding: 1px 3px 0 0;
    right: -1px;
    border: 1px solid #000;
    border-radius: 0 20px 20px 0;

    svg {
      fill: #ffffff;
    }
  }
}

.btn + .btn {
  margin-left: 15px;
}
